body {
	font-family: Arial;
}
.grand-parent {
	width: 100%;
	height: auto;
	margin: 0;
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.layer-opacity {
	width: 90%;
	margin: 20px auto;
	background-color: rgba(0, 0, 0, 0.6);
}
.carousel-item {
	padding: 10px;
	color: #fff;
}
.carousel-container1 {
	padding: 10px 0 10px 20px;
}
.carousel-container1 h2 {
	text-align: center;
}
ul.carousel-logo {
	padding: 0;
	list-style: none;
	text-align: center;
}
ul.carousel-logo .logo-item {
	display: inline-block;
	margin: 11px 6px;
}

/*Slide 2*/

.carousel-container2 {
	padding: 10px 0 10px;
}
.carousel-container2 h2 {
	text-align: center;
}

/*Slide 3*/

.carousel-container3 {
	padding: 10px; 
}
.carousel-container3 h2 {
	text-align: center;
}
ul.features {
	list-style: none;
	padding: 0;
	margin-bottom: 30px;
	position: relative;
}
ul.features li {
	position: relative;
}
ul.features li img {
	display: inline-block !important;
	width: unset !important;
	vertical-align: middle;
}
ul.features li:first-child:after {
	content: 'Herefter 199 kr. pr maned	';
	display: block;
	position: absolute;
	left: 80px;
	top: 30px;
	font-size: 12px;
	color: #e3e3e3;
}
.carousel-container3 p {
	font-size: 14px;
	color: #e3e3e3;
	line-height: 1.5;
}
.button{
	text-align: center;
	width: 100%;
	background-color: #399ee5;
	padding: 10px;
	box-sizing: border-box;
}
.carousel-container3 a.btn {
	text-decoration: none;
    color: #fff;
    
    
}

@media only screen and (max-width: 599px) {
	ul.features {
		text-align: center;
	}
	ul.features li {
		display: inline-block;
		font-size: 11px;
		margin: 10px 5px;
	}
	ul.features li img {
		height: 30px;
	}
	ul.features li:first-child:after {
		left: 39px;
    	top: 26px;
    	font-size: 10px;
	}
}

